.status-bar{
  background-color: #2c3083;
  height: 40px;
  color: white;
  margin: none;
}
.net-status{
  text-align: left;
  margin-left: 5px;
}
body{
  background-color: #4dadde;
  margin: none;
  font-family: Roboto;
}
