.status-bar{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  background-color: #2C3E50;
  border: none;
  color: #83ccdc;
  padding: 25px 0;
  font-size: 2em;
}
body{
  background-color: #2b2e3b;
  margin: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #83ccdc;
}
.info{
  font-size: 1.5em;
}
.plant{

}
.well{
  background-color: #35353d !important;
  border-color: #35353d !important;
}
