.status-bar{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  background-color: #2C3E50;
  border: none;
  color:white;
  padding: 25px 0;
  font-size: 2em;
}
body{
  background-color: #4dadde;
  margin: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
}
.info{
  font-size: 1.5em;
}
